/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
/* END RESET */
.hidden {
  display: none;
}
.visible {
  background: lightgreen;
}
