/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* General Settings */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #ba1450;
}
h2 {
  color: #fff;
  text-align: center;
  margin: 25px 0;
}
/* END General Settings */
.hidden {
  display: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}
.wrapper div[class*="-wrapper"] {
  background-color: #ffff;
  width: 100%;
  border-radius: 5px;
  text-align: center;
  padding: 25px 25px;
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
}

/* Panel form ticket  */

.wrapper .form-data > div[class*="form"] {
  display: inline-block;
  margin: 0 25px;
}
.wrapper .ticket-form .form-wrapper .form-button {
  margin-top: 50px;
}
label {
  display: block;
  color: #ba1450;
  margin-bottom: 10px;
}
input,
select {
  border: 1px solid #ba1450;
  border-radius: 5px;
  height: 20px;
  text-align: center;
}
input::placeholder {
  text-align: center;
}
button {
  font-size: 15px;
  color: #ba1450;
  background-color: #d2d2d2;
  margin: 0 10px;
  padding: 5px;
  border: 1px solid #8b8b8b;
  border-radius: 5px;
}
button:focus {
  color: #ffff;
  background-color: #8b8b8b;
  border: 1px solid #7d8086;
}

  /* media query */
@media screen and (max-width: 768px) {
  .wrapper .form-data > div[class*="form"] {
    display: block;
    margin-bottom: 20px;
  }

}
  /* END media query */
/* END Panel form ticket  */

/* Panel printed ticket */
.wrapper .ticket-printed .ticket-wrapper {
  text-align: left;
}
.wrapper .ticket-printed .ticket-data {
  display: flex;
  border: 1px solid #000000;
}
.wrapper .ticket-printed .ticket-data > div[class*="ticket"] {
  padding: 25px;
}
.wrapper .ticket-printed .ticket-data > div[class*="ticket"] h5 {
  padding-bottom: 50px;
}
.wrapper .ticket-printed .ticket-data .ticket-nome {
  width: 300px;
  background-color: #8b8b8b;
}
#js_ticket-nome {
  text-transform: uppercase;
}

/* media query */
@media screen and (max-width: 768px) {
  .wrapper .ticket-printed .ticket-data {
    flex-wrap: wrap;

  }
  .wrapper .ticket-printed .ticket-data .ticket-nome,
  .wrapper .ticket-printed .ticket-data .ticket-offerta {
    width: 50%;
    background-color: #8b8b8b;
  }
  .wrapper .ticket-printed .ticket-data .ticket-carrozza,
  .wrapper .ticket-printed .ticket-data .ticket-codice,
  .wrapper .ticket-printed .ticket-data .ticket-costo {
    width: calc(100%/3);
  }
}
/* END media query */

/* END Panel printed ticket */
